body {
  background-color: blueviolet;
  font-family: impact
}
h1 {
  color: blue;
  font-size: 50px;
}
button {
  background-color: aqua;
  border-style: dashed;
}
#secretLink {
  position: relative;
  bottom: 200px;
}